$gauss: linear-gradient(205.22deg, #FFFFFF 1.45%, rgba(255, 255, 255, 0) 61.9%)
$bLUE: linear-gradient(180deg, #3C6FD1 0%, #3C6FD1 0.01%, #7CA9FF 100%)
$bLUEFlipped: linear-gradient(90deg, #3C6FD1 0%, #3C6FD1 0.01%, #7CA9FF 100%)
$dark: #363B64
$secondary: #A098AE
$borderRadius: 20px

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap')